<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script th:src="@{/static/js/axios.min.js}"></script>
    <script th:src="@{/static/js/vue.js}"></script>
</head>
<body>
<h1>ajax回顾</h1>

<div id="app">
    <input type="button" v-on:click="testAjax($event)" value="测试SpringMVC处理ajax请求"/> <br/>
    <input type="button" v-on:click="testAjaxRequestBody()" value="使用@RequestBody注解来处理json格式的请求数据"/> <br/>
    <a th:href="@{/test/reponsebody}">测试@ReponseBody注解响应浏览器数据</a> <br/>
    <input type="button" v-on:click="testAjaxJsonResponse()"
           value="测试使用@ResponseBody注解响应浏览器请求，返回json数据"/> <br/>
</div>

<script type="text/javascript">
    /**
     * https://www.axios-http.cn/docs/req_config
     * axios({
     *     url: "", // 请求路径
     *     method: "", // 请求方式
     *
     *     // 请求参数:不管method是get还是post 都会以 name=value&name=value的方式发送请求参数，
     *     // 可以通过 request.getParameter()获取
     *     params: {},
     *
     *     // 请求参数:以json格式发送请求参数，请求参数保存在请求报文的请求体
     *     // post请求
     *     // 不可以通过 request.getParameter()获取，需要通过json包解析获取
     *     data: {}
     * }).then(response => {
     *     console.log(response.data)
     * });
     */
    const {createApp} = Vue;
    createApp({
        data() {
            return {};
        },
        methods: {
            testAjax(event) {
                axios.post('/springmvc/test/ajax?id=1001', {
                        username: 'admin',
                        password: '123456'
                    },
                    {
                        headers: {
                            'Content-Type': 'application/json' // 确保 Content-Type 为 application/json
                        }
                    }
                ).then(function (response) {
                    console.log(response);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            testAjaxRequestBody() {
                axios.post(
                    '/springmvc/test/ajax/requestbody/json',
                    {username: 'admin', password: '123456', age: 23, gender: `男`}
                ).then(function (response) {
                    console.log(response);
                }).catch(function (error) {
                    console.log(error)
                })
            },
            testAjaxJsonResponse() {
                axios.get('/springmvc/test/responsebody/json')
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        }
    }).mount('#app');

</script>

</body>
</html>