<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>共享数据示例</title>
</head>
<body>
<h1>共享数据示例</h1>

<p><a th:href="@{/testServletAPI}">testServletAPI 运行报错，先不管了</a></p>

<p><a th:href="@{/testModelAndView}">testModelAndView</a></p>

<p><a th:href="@{/testModel}">testModel</a></p>

<p><a th:href="@{/testMap}">testMap</a></p>

<p><a th:href="@{/testModelMap}">testModelMap</a></p>

<p><a th:href="@{/testSession}">testSession, 也运行报错...</a></p>

<p><a th:href="@{/testApplication}">testApplication, 也运行报错...</a></p>

</body>
</html>