<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.style103.mybatis.mapper.DepMapper">
    <!--
        mapper接口和映射文件要保证一致
            1.mapper接口的全类名和映射文件的namespace保持一致
            2.mapper接口中的方法名要和映射文件的sql id 保持一致
    -->

    <!-- Dep getDepByDepId(@Param("depId") int depId);-->
    <select id="getDepByDepId" resultType="Dep"> <!-- 这里直接用Dep是因为mybatis配置里面开启了 mapUnderscoreToCamelCase -->
        select * from t_dep where dep_id = #{depId};
    </select>


    <resultMap id="getDepAndEmp" type="Dep">
        <id column="dep_id" property="depId"/>
        <result column="dep_name" property="depName"/>

        <!-- 一对多 就用 collection, 类型用 ofType   -->
        <collection property="depEmps" ofType="Emp">
            <id column="emp_id" property="empId"/>
            <result column="emp_name" property="empName"/>
            <result column="emp_age" property="empAge"/>
            <result column="emp_dep_id" property="empDepId"/>
        </collection>
    </resultMap>
    <!-- Dep getDepAndEmpByDepId(@Param("depId") int depId); -->
    <select id="getDepAndEmpByDepId" resultMap="getDepAndEmp">
        select t_dep.*, t_emp.*
        from t_dep
                 left join t_emp on t_dep.dep_id = t_emp.emp_dep_id
        where dep_id = #{depId}
    </select>

</mapper>