<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.style103.mybatis.mapper.SpecialUserMapper">

    <!-- List<User> getUserByLike(@Param("like") String like); -->
    <!-- ''号里面不能用 #{} 写参数，需要用 ${} -->
    <select id="getUserByLike" resultType="User">
        <!-- 方式一 不用#{} 改用 ${}
            select *
            from t_user
            WHERE username like '%${like}%'
        -->

        <!-- 方式二  使用 concat函数
            select *
            from t_user
            WHERE username like concat('%',#{like},'%')
        -->

        <!-- 方式三  常用的方式-->
        select *
        from t_user
        WHERE username like "%"#{like}"%"
    </select>

    <!--    void deleteUserById(int startId, int endId);-->
    <delete id="deleteUserById">
        delete
        from t_user
        WHERE id in (#{startId}, #{endId})
    </delete>

    <!--    void deleteMoreUser(@Param("ids") String ids);-->
    <delete id="deleteMoreUser">
        delete
        from t_user
        WHERE id in (${ids})
    </delete>

    <!-- User selectUserByTableNameAndId(@Param("tableName") String tableName, @Param("id") int id); -->
    <!-- 表明参数只能用${}, #{}会自动加单引号 -->
    <select id="selectUserByTableNameAndId" resultType="User">
        SELECT *
        from ${tableName}
        where id = #{id}
    </select>

    <!-- void insertUserAndSetPrimaryKey(@Param("user") User user);-->
    <!--
        useGeneratedKeys：表示当前添加功能使用自增的主键
        keyProperty：将自增的主键赋值到实体类属性 id 上
     -->
    <insert id="insertUserAndSetPrimaryKey" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        values (null, #{username}, #{password}, #{age}, #{gender}, #{email})
    </insert>
</mapper>