<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>RequestMapping注解介绍</h1>
<p><a th:href="@{/position}">点我</a> 类上有 RequestMapping注解, 只用方法返回的值</p>
<p><a th:href="@{/position/index}">点我</a> 类上注解值 + 方法返回的值</p>

<p><a th:href="@{/gettest}">点我</a> method= {RequestMethod.GET} 测试</p>
<p><a th:href="@{/getMethod}">点我</a> @GetMapping注解测试</p>

<p><a th:href="@{/posMethod}">点我</a> @PostMapping注解测试, 用get方法访问post注解会报错404</p>
<form method="post" th:action="@{/postMethod}">
    <p><input type="submit"> @PostMapping注解测试 post方法调用</p>
</form>

<form method="post" th:action="@{/gettest}">
    <p><input type="submit"> RequestMapping注解配置 method = {RequestMethod.GET, RequestMethod.POST}) post方法调用get测试
    </p>
</form>

<!--参数写法1 ?param=value -->
<!--参数写法2 (param='value')-->
<p><a th:href="@{/paramtest1(username='admin')}">点我</a> 测试注解的param属性, params = {"username"}, 必须有参数username
</p>

<p><a th:href="@{/paramtest2(username='admin')}">点我</a> 测试注解的param属性, params = {"!username"}, 不能有参数username
</p>
<p><a th:href="@{/paramtest3(username='haha')}">点我</a> 测试注解的param属性, params = {"username=haha"},
    必须有参数username并且值必须是haha</p>
<p><a th:href="@{/paramtest4(username='admin')}">点我</a> 测试注解的param属性, params = {"username!=haha"},
    如果有username参数，只要值不是haha就行</p>

<p><a th:href="@{/header}">点我</a> 测试注解的headers属性, headers = {"referer"}, 请求头必须有 referer,
    直接复制打开后的链接请求会报错404</p>

<p><a th:href="@{/anttest1/a1a}">点我</a> ant风格路径测试，匹配 "/anttest1/a?a" ?可以是任意单个字符 </p>
<p><a th:href="@{/anttest2/aasdasa}">点我</a> ant风格路径测试，匹配 "/anttest1/a*a" *可以是0个或者多个字符 </p>
<p><a th:href="@{/anttest3/a/as/a/asd/asd/as/da/as/aa}">点我</a> ant风格路径测试，匹配 "/anttest3/**/aa" **可以是任意路径 </p>

</body>
</html>